<html>
    <header>
        <link rel="stylesheet" href="/static/bamboo.css" type="text/css">
    </header>
<body>

<style>
    .mono {
      font-family: monospace;
    }
</style>

<h1>ACE - Fire Fist</h1>

{% if recipeInfos|length == 1 %}
{% for recipe in recipeInfos %}
<ul>
    <li>Name: {{recipe.name}}</li>
    <li>Description: {{recipe.description}}</li>
    <li class="mono">Chain: {{recipe.chain}}</li>
{% if recipe.reference != None %}
    <li>Reference: <a href="{{recipe.reference}}"}>Link</a></li>
{% endif %}

{% if recipe.binaries != None %}
    <li>Has binaries: {{recipe.binaries}}</li>
{% endif %}

{% if recipe.modify_filesystem != None %}
    <li>Modifies filesystem: {{recipe.modify_filesystem}}</li>
{% endif %}

</ul>
{% endfor %}
{% endif %}

{% if recipeInfos|length > 1 %}
<table>
    <tr>
        <th>Name</th>
        <th>Chain</th>        
        <th>URLs</th>
        <th>Reference</th>
    </tr>
    {% for recipe in recipeInfos %}
    <tr>
        <td>{{recipe.name}}</td>
        <td class="mono">{{recipe.chain}}</td>
        <td class="mono">
            {% for route in recipe.routes %}
            <a href="{{route.url}}">{{route.url}}</a><br>
            {% endfor %}
        </td>
        <td>
            {% if recipe.reference != None %}
                <a href="{{recipe.reference}}">Link</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
<br>
{% endif %}


<table>
    <tr>
        <th>URL</th>
        <th>info</th>
        <th>Download as</th>        
    </tr>
    {% for route in routes %}
    <tr>
        <td><a href="{{route.url}}">{{route.url}}</a></td>
        <td>{{route.info}}</td>
        <td>
            {% if route.download == True and route.downloadName == '' %}
            Yes
            {% else %}
            {{route.downloadName}}
            {% endif %}

            {% if route.downloadMime != None %}
            , {{route.downloadMime}}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
<br>

Log:

<pre>{{log}}</pre>

Generated files:
<ul>
    {% for file in files %}
    <li><a href="{{file}}">{{file}}</a></li>
    {% endfor %}
</ul>

</body>
</html>